/* color palette: https://colorhunt.co/palette/f8f1f1a3d2ca5eaaa8db6400
Bone: #F8F1F1 and rgb(248, 241, 241)
Ice blue: #A3D2CA and rgb(163, 210, 202)
Teal: #5EAAA8 and rgb(94, 170, 168)
Orange: #DB6400 and rgb(219, 100, 0)
Charcoal: #3C4048 and rgb(60, 64, 72) 
black: #000000 and rgb(0, 0, 0)*/

/* Google Fonts link for Oswald and Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

 * {
    outline: 1px solid #f00 !important;
} 

/* css for responsiveness using flexbox*/
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}


.wrapper>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

header {
    background-color: rgb(219, 100, 0);
   
    height: 4em;
    max-width: 100%;
    opacity: 0.85;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}


footer {
    background: rgb(94, 170, 168);
    height: 4em;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-top: auto;
    bottom: 0;
    left: 0;
    position: relative;
    /* width:100%   30 Nov 1 */ 
        }
 .copyright {
    display: inline-block;
 }

.main {
    text-align: left;
    background: transparent;
    height: 300px;
    font-size: 24px;
}

.main2 {
    text-align: left;
    background: transparent;
    height: 300px;
    font-size: 24px;
}

/*.aside1 {
    background: rgb(94, 170, 168);
     background: url('../images.css/khara-woods-irish.jpg') no-repeat bottom right;
   background-size: contain;
    
}*/

.aside1 {
    background-image: url('../images.css/khara-woods-irish.jpg');
    background-image: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    

}

.aside2 {
    background: rgb(94, 170, 168);
}

@media all and (min-width: 800px) {


    .main {
        flex: 2;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 1;
    }

    .main {
        order: 1;
    }

    .main2 {
        order: 1;
    }

    footer {
        order: 4;
    }
}

@media all and (min-width:600px) {
    .aside {
        flex: 1;
    }
}

body {
    max-width:1080px;
    margin: 0 auto;
}


/* styling for nav bar to check for responsivity*/
#menu li {
    float: right;
    margin-right: 30px;
    margin-top: 0.5em;
    list-style-type: none;
    color: rgb(0, 0, 0);
}

#logo {
    float: left;
    color: rgb(0, 0, 0);
    margin-top: 0.5em;
}

/* styling for footer links to check for responsivity*/
/*social-networks is ul*/
.social-networks {
    text-align: right;
}

.social-networks>li {
    display: inline-block;
   padding-right: 0.3em;
}
/* social_links is div*/
.social_links {
    position: absolute;
    right: 1em;
    bottom: 1em;    
}

/*styling for accessibility
font is a placeholder, get this checked
min-height: 100vh; display:flex, flex:direction: column inserted for footer flex treatment to 
stick to bottom. How does this interact with position: absolute?*/

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(60, 64, 72);
    text-decoration: none;
}

/* #hero-image {
    height: 160px;
    width: 100%;
    background: rgb(219, 100, 0);
    opacity: 0.9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
} 30 Nov 1*/


  label {
    display: flex;
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 1.5em;
    margin-bottom: 1em;
    text-align: left;
    width: 7em;
    line-height: 1.5em;
    
  }
  
  input {
    display: inline-block;
    line-height: 1.5em;
    height: 1.5em;
    flex: 0 0 2em;
    margin-left: 1em;
  }
 .email-form {
    padding: 1em;
 }