/* Google Fonts link for Oswald and Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

/* Use for development, delete when final
* {
    outline: 1px solid #f00 !important;
} */
/* CSS for basic website format. font-display:swap used to ensure Oswald is loaded in Safari
browser */
body {
    font-family: Oswald, sans-serif;
    font-display: swap;
    font-weight: 300;
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(219, 100, 0);
    height: 4em;
    max-width: 100%;
    opacity: 0.8;
    padding: 0.625rem;
    margin: 0.625rem;
}

/* Footer designed to sit below bottom of lowest aside/article, irrespective of how many articles used on page. 
To stick to bottom of screen, use: margin-top:auto */
footer {
    background: #7EBD92;
    position: relative;
    height: 2.5em;
    padding: 0.625rem;
    margin: 0.625rem;
    border-radius: 0.3125rem;
    bottom: 0;
    left: 0;
}

article {
    overflow: auto;
    font-size: large;
}

/* CSS for links.
User feedback options for links based on W3 Schools Tutorial */
a:link {
    color: #163100;
    text-decoration: none;
    font-weight: bold;
}

a.nav-link:link {
    color: black;
}

a:visited {
    color: teal;
}

a.nav-link:visited {
    color: black;
}
/* border-bottom for a:focus uses px for accessibility */
a:focus {
    border-bottom: 1px solid;
    background: #93c47d;
}
/* border-bottom for a:hover uses px for accessibility */
a:hover {
    border-bottom: 1px solid;
    background: #7e9a6a;
}

a:active {
    background: #38761d;
    color: #93c47d;
}

a.nav-link:active {
    background: #38761d;
    color: #93c47d;
}

/* CSS for background images, images and aside color */
article>img {
    width: 100%;
    height: 83%;
    object-fit: cover;
    border-radius: 0.3125rem;
    position:relative;
    top: 3rem;
}

.image-attrib {
    position: relative;
    display: inline;
    left: 1rem;
    bottom: 7rem;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    font-size: 0.75rem;
}

/* CSS to lay H3 onto image */
.header-embed {
    position: relative;  
    left: 9rem;
    top: -32rem; 
    font-size: 2rem;
} 

.goodbye-img {
    background-color: #dc863d;
    overflow: hidden;
}

/* CSS for text over background image */
.text-background {
    background-color: #7EBD92;
}
/* CSS for aside with background image */
.aside1 {
    background-image: url('../images.css/khara-woods-irish2.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/* CSS for aside without background image */
.aside2 {
    background: #7EBD92;
    text-align: center;
}
/* CSS for header formatting, informed by Code Institute tutorials. 
margin-right for .menu li uses px for accessibility */
.menu li {
    float: right;
    margin-right: 30px;
    margin-top: 0.5rem;
    list-style-type: none;
    color: rgb(0, 0, 0);
}
/* letter-spacing for #logo uses px for brand consistency */
#logo {
    float: left;
    color: rgb(0, 0, 0);
    margin-top: 0.5rem;
    letter-spacing: 1.5px;
}

/*CSS for footer social links */
.social-networks {
    text-align: right;
    display: inline;
}
/* padding-right for .social-networks>li uses px for accessibility */
.social-networks>li {
    display: inline-block;
    padding-right: 13px;
}

.social-links {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* CSS for email form  */
label {
    display: flex;
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
    width: 7rem;
    line-height: 1.5rem;
}
/* margin-bottom for input uses px to maintain accessibility on small screens */
input {
    display: inline-block;
    line-height: 1.5rem;
    height: 1.5rem;
    flex: 0 0 2rem;
    margin-left: 1rem;
    margin-bottom: 20px;
}
/* margin-top for #submit uses px to maintain accessibility on small screens */
#submit {
    font-size: large;
    margin-top: 20px;
}

.email-form {
    padding: 1rem;
}

/* CSS for responsiveness.
CSS for responsiveness based on CSS Coder's 'Responsive Flexbox Layout Page in 4 minutes' 
available on YouTube*/
.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper>* {
    padding: 0.625rem;
    margin: 0.625rem;
    flex: 1 100%;
    border-radius: 0.3125rem;
}

@media all and (min-width: 800px) {
    .main {
        flex: 2;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 1;
    }

    .main {
        order: 1;
    }

    .main2 {
        order: 1;
    }

    footer {
        order: 4;
    }
}

@media all and (min-width:600px) {
    .aside {
        flex: 1;
    }
}

/* CSS to stack menu nav links on very small mobiles. Height for .header uses px for accessibility. */
@media all and (max-width:420px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 130px;
    }
}

/* CSS to prevent website stretching horizontally across large screens, suggested by Brian Macharia */
body {
    max-width: 1800px;
    margin: 0 auto;
}